/* Preliminary (START) */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root {
    --background: #1A0034;
    --boxes: #290048;
    --dividers: #EB00FF;
    --headings: #FFE500;
    --headings-text: #9B8100;
    --body-text: #A178CA;
    --aqua: #00D1FF;
    --aqua-text: #002755;
    --terra: #CCFF00;
    --terra-text: #225500;
    --fuoco: #FF7A00;
    --fuoco-text: #550000;
    --glassia: #EB00FF;
    --glassia-text: #410055;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: initial;
    letter-spacing: 1px;
}

main {
    margin: 0 100px;
}

.body {
    text-align: left;
    font-size: 1.4rem;
    background-color: var(--boxes);
    color: var(--body-text);
    padding: 50px;
    border-radius: 25px;
    margin-bottom: 50px;
}

body {
    background-color: var(--background);
    font-family: "Rajdhani", sans-serif;
    font-size: 62.5%;
}

/* Preliminary (END) */

/* General Element Styling (START) */

.divider {
    width: 100%;
    height: 3px;
    background-color: var(--dividers);
    position: relative;
    bottom: -50px;
}

.heading {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    background-color: var(--headings);
    color: var(--headings-text);
    width: 250px;
    padding: 10px 0;
    border-radius: 5px 25px;
    margin: 0 auto 25px auto;
    
}

/* General Element Styling (END) */

/* Multi-selectors (START) */

#about,
#testimonials-grid,
#buy-grid {
    margin: 0 auto;
}

#about,
#testimonials-grid,
#buy-grid {
    max-width: 1000px;
}

#testimonials-grid,
#buy-grid {
    display: grid;
    gap: 30px;
}

.buy-grid-heading,
.spec-heading {
    font-weight: bold;
}

.buy-grid-heading,
.specs {
    border-radius: 5px 15px;
}

/* Multi-selectors (END) */

/* Header (START) */

#logo {
    width: 125px;
}

.nav-link {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--headings);
    text-decoration: none;
}

#nav-links {
    gap: 3vw;
    position: relative;
    bottom: -9.5px;
}

#content {
    margin: 50px;
}

#content, #content * {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#header {
    border-bottom: 3px solid var(--dividers);
    margin: 0 75px;
}

/* Header (END) */

/* Image (START) */

#main-image {
    margin: 100px 0;
    width: 100vw;
}

/* Image (END) */

/* About (START) */

#about-body p:first-of-type {
    margin-bottom: 25px;
}

#about-body {
    width: 100%;
}

/* About (END) */

/* Testimonials (START) */

.profile-icon {
    padding: 0 5px 10px 5px;
    border-bottom: 3px solid var(--dividers);
}

.profile-banner {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

#testimonials-grid > .body {
    padding: 50px 25px;
    margin-bottom: 0;
}

#testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    margin-bottom: 50px;
}

/* Testimonials (END) */

/* Buy Yours (START) */

.buy-grid-heading {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    padding: 5px 0;
    width: 125px;
    margin: 0 auto;
}

.buy-grid-subheading {
    margin-top: 10px;
    font-weight: initial;
}

.buy-icons {
    margin: 35px 0;
}

.specs-heading {
    padding-bottom: 15px;
    border-bottom: 2px solid;
}

.specs {
    border: 2px solid;
    padding: 20px 20px 30px 20px;
}

.specs-line:first-of-type {
    margin: 0 15px;
}

.specs-line:not(:first-of-type) {
    margin: 15px 15px 0 15px;
}

.specs-line {
    display: flex;
    justify-content: space-between;
}

.specs-body {
    margin-top: 30px;
}

.configure {
	border: none;
	padding: 10px 0;
	cursor: pointer;
    width: 125px;
    font-size: 1rem;
    margin-top: 35px;
    border-radius: 5px 15px;
}

#buy-grid > .body {
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
    text-align: center;
}

#buy-grid {
    grid-template-columns: repeat(auto-fit, minmax(485px, 1fr));
    margin-bottom: 100px;
}

#aqua {
    color: var(--aqua);
}

#terra {
    color: var(--terra);
}

#fuoco {
    color: var(--fuoco);
}

#glassia {
    color: var(--glassia);
}

#aqua > .buy-grid-heading,
#aqua > .configure {
    background-color: var(--aqua);
    color: var(--aqua-text);
}

#terra > .buy-grid-heading,
#terra > .configure {
    background-color: var(--terra);
    color: var(--terra-text);
}

#fuoco > .buy-grid-heading,
#fuoco > .configure {
    background-color: var(--fuoco);
    color: var(--fuoco-text);
}

#glassia > .buy-grid-heading,
#glassia > .configure {
    background-color: var(--glassia);
    color: var(--glassia-text);
}

/* Buy Yours (END) */

/* Footer (START) */

#footer-left h3 {
    margin-bottom: 10px;
}

#footer-links a {
    padding: 5px 10px;
    border-radius: 5px;
    color:var(--body-text);
    background-color: var(--boxes);
    text-decoration: none;
}

#footer-logo {
    width: 100px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin: 0 50px;
    color: var(--body-text);
    font-size: 1.2rem;
}

footer {
    margin: 0 75px;
    border-top: 3px solid var(--dividers);
}

/* Footer (END) */

@media screen and (min-width: 2125px) {
    #about {
        width: calc(48% + 25px);
        max-width: 1190px;
    }

    #testimonials-grid,
    #buy-grid {
        max-width: 2425px;
    }
}