/* Preliminary */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root {
    --background: #1A0034;
    --boxes: #290048;
    --dividers: #EB00FF;
    --headings: #FFE500;
    --headings-text: #9B8100;
    --body-text: #A178CA;
    --aqua: #00D1FF;
    --aqua-text: #002755;
    --terra: #CCFF00;
    --terra-text: #225500;
    --fuoco: #FF7A00;
    --fuoco-text: #550000;
    --glassia: #EB00FF;
    --glassia-text: #410055;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: initial;
    letter-spacing: 1px;
}

main {
    margin: 0 100px;
}

.body {
    text-align: left;
    font-size: 1.4rem;
    background-color: var(--boxes);
    color: var(--body-text);
    padding: 50px;
    border-radius: 25px;
    margin-bottom: 50px;
}

body {
    background-color: var(--background);
    font-family: "Rajdhani", sans-serif;
    font-size: 62.5%;
}

/* General Element Styling */
.divider {
    width: 100%;
    height: 3px;
    background-color: var(--dividers);
    position: relative;
    bottom: -50px;
}

.heading {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    background-color: var(--headings);
    color: var(--headings-text);
    width: 250px;
    padding: 10px 0;
    border-radius: 5px 25px;
    margin: 0 auto 25px auto;
}

.buttons * {
    height: 65px;
    width: 65px;
}

/* Multi-Section Selectors */
#header-buttons,
#nav-buttons {
    gap: 3vw;
}

#about-grid,
#testimonials-grid,
#builds-grid,
#disclaimer-grid {
    margin: 0 auto;
    max-width: 1000px;
}

#testimonials-grid,
#builds-grid {
    display: grid;
    gap: 30px;
}

.builds-grid-heading,
.spec-heading {
    font-weight: bold;
}

.builds-grid-heading,
.specs {
    border-radius: 5px 15px;
}

/* Header */
#logo {
    width: 125px;
}

#content-header {
    margin: 50px;
}

#content-header,
#content-header * {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header {
    border-bottom: 3px solid var(--dividers);
    margin: 0 75px;
}

/* Image */
#main-image {
    background-image: url(SVGs/PC_Aqua.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 100px auto;
    width: 75vw;
    max-width: 675px;
    height: 55.15vw;
    max-height: 495px;

    animation-name: slideshow;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes slideshow {
    0%, 13% {
        background-image: url(SVGs/PC_Glassia.svg);
    }

    19.5%, 46.5% {
        background-image: url(SVGs/PC_Fuoco.svg);
    }

    53%, 80% {
        background-image: url(SVGs/PC_Terra.svg);
    }

    86.5%, 99.5% {
        background-image: url(SVGs/PC_Aqua.svg);
    }
}

/* About */
#about-body p:first-of-type {
    margin-bottom: 15px;
}

/* Testimonials */
.profile-icon {
    padding: 0 5px 10px 5px;
    border-bottom: 3px solid var(--dividers);
}

.profile-banner {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

#testimonials-grid > .body {
    padding: 50px 25px;
    margin-bottom: 0;
}

#testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    margin-bottom: 50px;
}

/* Build Yours */
.builds-grid-heading {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    padding: 5px 0;
    width: 125px;
    margin: 0 auto;
}

.builds-grid-subheading {
    margin-top: 10px;
    font-weight: initial;
}

.builds-icons {
    margin: 35px 0;
    width: 250px;
}

.specs-heading {
    padding-bottom: 15px;
    border-bottom: 2px solid;
}

.specs {
    border: 2px solid;
    padding: 20px 20px 30px 20px;
}

.cpu {
    margin: 0 15px;
}

.ram,
.storage,
.gpu {
    margin: 15px 15px 0 15px;
}

.specs-line {
    display: flex;
    justify-content: space-between;
}

.specs-body {
    margin-top: 30px;
}

.configure {
	border: none;
	padding: 10px 0;
	cursor: pointer;
    width: 125px;
    font-size: 1rem;
    margin-top: 50px;
    border-radius: 5px 15px;
}

#builds-grid > .body {
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
    text-align: center;
}

#builds-grid {
    grid-template-columns: repeat(auto-fit, minmax(485px, 1fr));
    margin-bottom: 25px;
}

#aqua {
    color: var(--aqua);
}

#terra {
    color: var(--terra);
}

#fuoco {
    color: var(--fuoco);
}

#glassia {
    color: var(--glassia);
}

#aqua > .builds-grid-heading,
#aqua > .configure {
    background-color: var(--aqua);
    color: var(--aqua-text);
}

#terra > .builds-grid-heading,
#terra > .configure {
    background-color: var(--terra);
    color: var(--terra-text);
}

#fuoco > .builds-grid-heading,
#fuoco > .configure {
    background-color: var(--fuoco);
    color: var(--fuoco-text);
}

#glassia > .builds-grid-heading,
#glassia > .configure {
    background-color: var(--glassia);
    color: var(--glassia-text);
}

/* Disclaimer */
#disclaimer-body {
    text-align: center;
    font-size: 1.4rem;
    background-color: var(--boxes);
    color: var(--body-text);
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 100px;
}

/* Footer */
footer p {
    color: var(--body-text);
    font-size: 1.4rem;
    text-align: center;
}

footer {
    margin: 0 75px;
    padding: 50px 0;
    border-top: 3px solid var(--dividers);
}

/* Navigation */
#nav-buttons {
    display: flex;
    justify-content: center;
    gap: 3vw;
    position: sticky;
    bottom: 0;
    padding: 20px 0;
    background-color: rgba(26, 0, 52, 0.75);
}

@media screen and (min-width: 2245px) {
    #about-grid,
    #testimonials-grid,
    #builds-grid,
    #disclaimer-grid {
        max-width: 2425px;
    }
    
    #about-body {
        grid-area: about;
    }

    #about-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(370px, 1fr));
        grid-template-areas:
            " . about about . ";
        gap: 30px;
    }

    #disclaimer-body {
        grid-area: disclaimer;
    }

    #disclaimer-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(485px, 1fr));
        grid-template-areas:
            " . disclaimer disclaimer . ";
        gap: 30px;
    }
}

@media screen and (max-width: 800px) {
    #content-header {
        margin:  45px 0;
    }
}

@media screen and (max-width: 685px) {
    main {
        margin: 0 25px;
    }
    
    .divider {
        bottom: -35px;
    }

    #header,
    footer {
        margin: 0 25px;
    }
    
    .body,
    #testimonials-grid > .body {
        padding: 35px 25px;
    }

    #builds-grid,
    #testimonials-grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    
    #logo {
        width: 125px;
    }

    .buttons * {
        width: 55px;
        height: 55px;
    }

    #main-image {
        margin: 75px auto;
    }

    .configure {
        margin-top: 35px;
    }

    #disclaimer-body {
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 500px) {
    main {
        margin: 0;
    }
    
    .heading,
    .profile-heading {
        font-size: 1.4rem;
    }
    
    #about,
    #disclaimer-grid {
        margin: 0 25px;
    }

    #about-body *,
    #testimonials-grid > .body p,
    .builds-grid-heading,
    .builds-grid-subheading,
    .specs-heading,
    #disclaimer-body p,
    footer p {
        font-size: 1.2rem;
    }

    #testimonials-grid,
    #builds-grid {
        grid-template-columns: repeat(4, 100%);
        grid-auto-flow: column;
        overflow-x: scroll;
        padding: 0 25px 25px 25px;
    }
    
    #logo {
        width: 100px;
    }

    .buttons * {
        width: 45px;
        height: 45px;
    }
    
    #main-image {
        margin: 50px auto;
    }

    .specs-line {
        font-size: 1rem;
    }

    .cpu {
        margin: 0;
    }
    
    .ram,
    .storage,
    .gpu {
        margin: 15px 0 0 0;
    }

    #disclaimer-body {
        margin-bottom: 50px;
    }

    footer {
        padding: 35px 0;
    }
}